<div class="monster-stuff" id="{{id}}">
    <div class="monster-container" id="{{type}}">
        <!-- Monster Image -->
        <div class="monster-image-container">
            <img class="monster-image" src="{{standee}}">
        </div>
        <!-- Monster Number -->
        <div class="monster-initiative-number">{{number}}</div>
        <!-- Monster HP -->
        <div class="monster-hp">
            <button class="plus-minus" id="plus{{id}}">+</button>
            <div class="hp-value" id="hp{{id}}">{{hp}}</div>
            <button class="plus-minus" id="minus{{id}}">-</button>
        </div>
    </div>
</div>