<div class="player-info">
    <td>
        <div>{{index}}</div>
    </td>
    <td><input type="text" name="character-{{index}}" class="character" id="player-name" value="{{playerName}}"></td>
    <td><select class="player-level" name="player-{{index}}-level">
            <option selected value="{{level}}">{{level}}</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
        </select></td>
</div>